.v-chip--variant-outlined {
  border-color: #89938f;
}

.v-slide-group__content {
  gap: 1rem;
}

.v-chip-group .v-chip {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fb4847;
  font-weight: 700;
}

:root {
  font-family: dana;
}
